.about {

  &__container {
    padding: 0 90px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: -39px;
    @include tablets {
      justify-content: center;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid #979797;
    background-color: #d8d8d8;
    min-width: 22%;
    height: 82px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-right: 35px;
    flex: 0;

    &:last-child {
      flex: 1;
    }

    @include tablets {
      margin-right: 39px;
      min-width: 80%;
      &:last-child {
        flex: 0;
      }
    }
  }

  &__text {
    font-size: 24px;
  }
}
