.before-section {
  // background: url(https://it-events.com/system/ckeditor/pictures/25787/original_bg_pattern_04.png) repeat;
  background-color: $themecolor2;

  &__title {
    color: #ffffff;
  }
}

/* before  */

.before__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  // padding: 0px 114px;
  margin-bottom: -48px;
}

.before__item {
  margin-right: 10px;
  margin-bottom: 48px;
  &:nth-child(3) {
      margin-right: 0;
  }
  &-link {
    display: block;
  }
}

.before__img {
  width: 362px;
  height: 250px;
  overflow: hidden;
  border: 3px solid $yellow;
  margin-bottom: 6px;
}
.before__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.before__img:hover .before__image {
  transform: scale(1.05);
  filter: blur(0);
  transition: 0.5s;
}

.before__title {
  text-align: center;
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
}
