.footer-menu {
  // padding: 0 60px;
  &-section {
    background-color: #8e8e8e;
    color: #ffffff;
  }

  display: flex;
  justify-content: space-between;
  &__list {
    display: flex;
    white-space: nowrap;
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-right: 33px;
    text-transform: uppercase;
  }
  &__item {
    padding: 24px 0;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }

    &--active {
      font-weight: 700;
      & a {
        color: #000000;
      }
    }
  }
  &__link {
    color: #ffffff;
    display: block;
    transition: 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__copy {
    padding: 24px 0;
  }
}
