.form-section {
  background-color: #104591;
  color: #ffffff;
  padding: 55px 0;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 163px;
  font-size: 24px;
}

.subscribe-form-item__control {
  min-height: 77px;
  padding: 14px 34px;
  border: 2px solid #000000;
  line-height: normal;

  &::placeholder {
    font-style: italic;
  }
}
.subscribe-form-item__label {
  margin: auto;
  margin-right: 70px;
  white-space: nowrap;
}

.subscribe-form-item--input-email {
  margin-right: 40px;
  display: flex;
}

.subscribe-form-item__btn {
  padding: 20px 70px;
  font-size: 24px;
  text-transform: uppercase;
}
