.hero-section {
    background: 
     url(https://it-events.com/system/event_photos/imgs/000/013/256/original/hero__bg.png) no-repeat; 
    background-size:  cover;
    color: white;
    background-color: #202123;
    padding: 0;
}


.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 74vh;
    max-height: 800px;
    min-height: 370px;

    &__buttons {
        display: flex;
        justify-content: center;
    }
}
.hero__desc {
    padding-left: 20px;
    margin-bottom: 80px;
}

.hero__title {
    font-size: 60px;
    margin-bottom: 10px;
}

.hero__date {
    font-size: 35px;
}

// .hero__buy {
//     align-self: center;
// }

.hero__button {
    font-size: 24px;
    padding: 20px;
    margin-right: 40px;
    min-width: 360px;
    // min-height: 78px;
    text-transform: uppercase;
    
    &--yellow{
        background-color: #F7E126;
        color: #000000;
    }

    &:last-child {
        margin-right: 0;
    }
}