.pk-section__title {
  color: #ffffff;
}
// .pc-section {
//     background: url(../img/bg_pattern_03.png) repeat;
//     background-color: $themecolor2;
// }

.pc-section {
  padding-bottom: 0;
}
.pk {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 0px 6%;
  color: #ffffff;
  outline: none;
  & .slick-slide {
    width: 20%;
  }
  & .slick-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    outline: none;
    height: 100%;
    // justify-content: space-between;
  }
  & .slick-track {
    height: 100%;
  }
  & .pk__name {
    white-space: pre-wrap;
  }
}

.pk__item {
  align-items: center;
  display: flex;
  min-width: 0;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  // color: #ffffff;
  width: 20%;
  padding: 5px;

  &:hover {
    & .pk__img {
      transform: scale(1.05);
      transition: 0.5s;
    }
  }
}
.pk__link {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 46px;
  &:active,
  :focus {
    outline: none;
  }
}
.pk__title {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pk__name {
  line-height: 1.1;
  font-size: 16px;
  font-weight: 700;
}

.pk__company {
  font-weight: 700;
  color: $pkAcent;
}

.pk__img {
  height: 170px;
  width: 170px;
  border: 4px solid $yellow;
  border-radius: 50%;
  margin-bottom: 7px;
}

.pk__avatar {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
