// .pk-section__title {
//     color: #ffffff;
// }
// .pc-section {   
//     background: url(../img/bg_pattern_03.png) repeat; 
//     background-color: $themecolor2;
// }
.pk {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 0px 6%;
}

.pk__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    // color: #ffffff;
    margin-bottom: 46px;
    width: 20%;
}

.pk__name {
    line-height: 1;
    font-size: 18px;
}

.pk__company {
    font-weight: 700;
    color: #114490;
}

.pk__img {
    // height: 260px;
    // width: 260px;
    height: 170px;
    width: 170px;
    border: 4px solid #ff0000;
    border: 4px solid #114490;
    border-radius: 50%;
}

.pk__avatar {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
