.place {
  background-color: $yellow;
  color: #000000;

  &-section-title {
    margin-bottom: 44px;
  }
  &__galery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: -22px;

    &:last-child {
      margin-bottom: -48px;
    }
  }
  &__galery-item {
    width: 362px;
    height: 250px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 48px;
    border: 3px solid #e73a47;
  }
  &__galery-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
