.price {
    padding: 0 120px;
}

.price__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 140px;

    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    text-align: right;
}

.price__table-row {
    border-top: solid 3px #114490;

    &:last-child {
        border-bottom: solid 3px #114490;
    }

    &:hover {
        background-color: #fcf5f9;
    }
}

.price__table-col {
    padding: 19px 0;
    width: 20%;

    &:first-child {
        text-align: left;
        padding-left: 10px;
    }

    &:nth-child(3) {
        color: #e20714;
    }
}






.tickets {
    display: flex;
    flex-wrap: wrap;
}

.wrapper-tickets {

    font: 400 16px/1.42 'Open Sans', sans-serif;
    display: flex;
    margin-bottom: 40px;
    position: relative;
    width: 48%;

    &:nth-child(odd) {

        margin-right: 40px;
    }

    &:last-child {
        margin-right: 0px;
    }
}


.content {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 87%;

    &--just-text {
        width: 78%;
    }
}

.left,
.right {
    flex: 1;
    border: solid 1px transparent;
    border-radius: 5px;
    background-image: linear-gradient(white, white),
        linear-gradient(to right, #cccccc00, #ccc);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.left {
    background-image: linear-gradient(white, white),
        linear-gradient(to right, $tableprice, $tableprice_bg);
}

.right {
    background-image: linear-gradient(white, white),
        linear-gradient(to right, $tableprice_bg, $tableprice);
}



.right:before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 14px);
    right: -14px;
    border: 1px solid $tableprice;
}

.right:after {
    content: "";
    display: block;
    width: 15px;
    height: 98px;
    background: #fff;
    position: absolute;
    top: calc(50% - 44px);
    right: -15px;
}


.left:before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 14px);
    left: -14px;
    border: 1px solid $tableprice;
}

.left:after {
    content: "";
    display: block;
    width: 15px;
    height: 98px;
    background: #fff;
    position: absolute;
    top: calc(50% - 44px);
    left: -15px;
}

.ticket__date {
    color: rgb(153, 153, 153);
    font-size: 12px;
}




.ticket__title {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 19px;
}

.tickets__price {
    font-size: 48px;
    font-weight: 700;
    font-family: Roboto;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-bottom: 12px;
    color: #ff0000;
    line-height: 1;
}

.tickets__price-summ {
    position: relative;
    margin-bottom: 10px;
}

.tickets__price-cyrency {
    font-size: 36px;
}

.tickets__price-sale {
    font-size: 21px;
    font-weight: 500;
    color: #6e6e6e;
    position: relative;
    margin-top: 7px;

    &::after {
        background-color: rgb(102, 102, 102);
        content: " ";
        width: 100px;
        height: 1px;
        position: absolute;
        bottom: 9px;
        left: calc(50% - 49px);
        transform: rotate(-15deg);
    }
}

.tickets__price-condition {
    color: #6e6e6e;
    font-size: 21px;
    margin-top: 13px;
    font-weight: normal;
}

.ticket__list {
    margin-bottom: 65px;
    width: 100%;
}

.condition__item {
    display: flex;
    align-items: center;
}

.condition__item-title {
    color: #000000;
    font-size: 21px;
    line-height: 1.4;
}

.ticket__button {
    align-self: center;
    font-size: 24px;
    padding: 14px 41px;
    margin-bottom: 30px;
    margin: auto 0;
}


.material-icons {
    font-weight: bold;
    font-size: 30px;
    color: #3aa935;
    align-self: flex-start;
    margin-right: 5px;
    line-height: 1;
    // display: none;
}

.wrapper-tickets:hover .content {
    background-color: $tableprice_bg-hover;
}

.wrapper-tickets:hover .left {
    background-image: linear-gradient($tableprice_bg-hover, $tableprice_bg-hover),
        linear-gradient(to right, $tableprice, $tableprice_bg-hover);
}

.wrapper-tickets:hover .right {
    background-image: linear-gradient($tableprice_bg-hover, $tableprice_bg-hover),
        linear-gradient(to right, $tableprice_bg-hover, $tableprice);
}

.wrapper-tickets:hover .button__buy {
    background-color: rgba(19, 21, 47, 1);
}


.tickets__link {
    color: #333;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    z-index: 1;
}