// .price {
//     padding: 0 120px;
// }
.price-section__title {
    color: #000000;
}
.price__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 140px;

    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    text-align: right;
}

.price__table-row {
    border-top: solid 3px #114490;

    &:last-child {
        border-bottom: solid 3px #114490;
    }

    &:hover {
        background-color: #fcf5f9;
    }
}

.price__table-col {
    padding: 19px 0;
    width: 20%;
    color: #000000;
    font-weight: 500;

    &:first-child {
        text-align: left;
        padding-left: 10px;
        font-family: "Open Sans";
        font-weight: 700;
    }

    &:nth-child(3) {
        color: #e20714;
        font-weight: 700;
    }
}






.tickets {
    display: flex;
    flex-wrap: wrap;
}

.ticket {

    font: 400 16px/1.42 'Open Sans', sans-serif;
    display: flex;
    margin-bottom: 4%;
    position: relative;
    width: 48%;

    &:nth-child(odd) {

        margin-right: 4%;
    }

    &:last-child {
        margin-right: 0px;
    }

    &--less-height {
        align-self: flex-start;
    }
}


.content {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 87%;

    &--just-text {
        width: 78%;
    }
}

.left,
.right {
    flex: 1;
    border: solid 1px transparent;
    border-radius: 5px;
    background-image: linear-gradient(white, white),
        linear-gradient(to right, #cccccc00, #ccc);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.left {
    background-image: linear-gradient(white, white),
        linear-gradient(to right, $tableprice, $tableprice_bg);
}

.right {
    background-image: linear-gradient(white, white),
        linear-gradient(to right, $tableprice_bg, $tableprice);
}



.right:before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 14px);
    right: -14px;
    border: 1px solid $tableprice;
}

.right:after {
    content: "";
    display: block;
    width: 15px;
    height: 98px;
    background: #fff;
    position: absolute;
    top: calc(50% - 44px);
    right: -15px;
}


.left:before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 14px);
    left: -14px;
    border: 1px solid $tableprice;
}

.left:after {
    content: "";
    display: block;
    width: 15px;
    height: 98px;
    background: #fff;
    position: absolute;
    top: calc(50% - 44px);
    left: -15px;
}




.ticket__title {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 19px;
}

.tickets__price {
    font-size: 48px;
    font-weight: 700;
    font-family: Roboto;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-bottom: 12px;
    color: #ff0000;
    line-height: 1;
}

.tickets__price-summ {
    position: relative;
    margin-bottom: 10px;
}

.tickets__price-cyrency {
    font-size: 36px;
}

.tickets__price-sale {
    font-size: 21px;
    font-weight: 500;
    color: #6e6e6e;
    position: relative;
    margin-top: 7px;

    &::after {
        background-color: rgb(102, 102, 102);
        content: " ";
        width: 100px;
        height: 1px;
        position: absolute;
        bottom: 9px;
        left: calc(50% - 49px);
        transform: rotate(-15deg);
    }
}

.tickets__price-condition {
    color: #6e6e6e;
    font-size: 21px;
    margin-top: 13px;
    font-weight: normal;
}

.ticket__list {
    margin-bottom: 65px;
    width: 100%;
}

.condition__item {
    display: flex;
    align-items: center;
}

.condition__item-title {
    color: #000000;
    font-size: 21px;
    line-height: 1.4;
}

.ticket__button {
    align-self: center;
    font-size: 24px;
    padding: 14px 41px;
    margin-bottom: 30px;
    margin: auto 0;
}


.material-icons--green {
    font-weight: bold;
    font-size: 30px;
    color: #3aa935;
    align-self: flex-start;
    margin-right: 5px;
    line-height: 1;
}


//  Рамка блока с билетами
.ticket:hover .content {
    background-color: $tableprice_bg-hover;
}

.ticket:hover .left {
    background-image: linear-gradient($tableprice_bg-hover, $tableprice_bg-hover),
        linear-gradient(to right, $tableprice, $tableprice_bg-hover);
}

.ticket:hover .right {
    background-image: linear-gradient($tableprice_bg-hover, $tableprice_bg-hover),
        linear-gradient(to right, $tableprice_bg-hover, $tableprice);
}

.ticket:hover .button__buy {
    background-color: rgba(19, 21, 47, 1);
}




// слайднер даты
.date-slider {
    padding: 0 70px;
}

.list {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.list__item {
    text-align: center;
    position: relative;
    width: 18%;
}

.test {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cost {
    margin-bottom: 5px;
}

.cost__active {
    background-color: $active-price;
    color: white;
    border-radius: 4px;
    padding: 1px 3px;
    margin-bottom: 3px;
    font-weight: 600;
}

.date__post {
    margin-bottom: 18px;
    
font-size: 21px;
font-weight: 400;

    &--active {

        font-size: 21px;
        font-weight: 700;
    }
}

.cost__post-active,
.date__post-active {
    color: #666;

}

.dot {
    display: inline-block;
    width: 1.55em;
    height: 1.55em;
    border-radius: 49%;
    background-color: #5f5f60;
    margin-left: 7px;
    border: 0.5em solid #fff;
}

.dot__active {
    width: 1.8em;
    height: 1.8em;
    background-color: yellow;
    border: 0.6em solid #e20714;
    z-index: 10;
    position: relative;
    margin-top: -2px;
}

.dot__post-active {
    background-color: #e20714;
}


.line {
    display: inline-block;
    position: absolute;
    width: 100%;
    border: 0;
    height: 0.188em;
    border-radius: 0.063em;
    background-color: #5f5f60;
    top: 3.65em;
    /* top: 0.63em; */
    left: calc(-50% + 0.4em);
    right: calc(50% + 0.4em);
}

.line__active {
    background-color: #e20714;
}