.section-report {
  margin: 0;
  background-color: #104591;
  & .speaker__slider {
    margin-bottom: 50px;
  }
}

.report {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 92px;
}
