/* спикеры */


.speakers {
    color: #fff;
    padding: 0px 27px;
}
.speakers__title {
    color: #fff;
}

.speaker__slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-between;
}

.speakers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 39px;
}


.speaker {
    display: flex;
    flex-wrap: wrap;
}

.speaker__item {
    margin-bottom: 52px;
   
    &:hover {
        .speaker__img {
            transform: scale(1.05);
            transition: 0.5s;
        }

    }

}

.speaker__img {
    height: 260px;
    width: 260px;
    border: 4px solid #fde300;
    border-radius: 50%;
    margin-bottom: 7px;
}

.speaker__avatar {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;    
    object-fit: cover;
}

.speaker__link {
    align-items: center;
    display: flex;
    flex-direction: column;
}



.speaker__title {
    text-align: center;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.speaker__name {
    line-height: 1;
}

.speaker__company {
    color: $yellow;
}
