// /* спикеры */
// .speaker-section {
//     // background: url(https://it-events.com/system/ckeditor/pictures/25789/original_bg_pattern_02.png) repeat;
//     background-color: $themecolor2;
// }

// .speakers {
//     color: #fff;
//     padding: 0px 10px;
// }
// .speakers__title {
//     color: #fff;
// }

.speaker__slider {
  margin-bottom: 10px;

  & .slick-slide {
    width: 20%;
  }
  & .slick-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .slick-prev,
  .slick-next {
    height: 47px;
    width: 26px;
    transform: translateY(-47px);
    -webkit-transform: translateY(-47px);
    -moz-transform: translateY(-47px);
    -ms-transform: translateY(-47px);
    -o-transform: translateY(-47px);
  }
  .slick-prev {
    left: -8px;
  }
  .slick-next {
    right: -8px;
  }
  .slick-prev::before,
  .slick-next::before {
    content: "";
    display: block;
    background: center / contain
      url(https://it-events.com/system/ckeditor/pictures/25792/original_left.png);
    height: 100%;
    width: 100%;
  }
  .slick-next::before {
    background-image: url(https://it-events.com/system/ckeditor/pictures/25791/original_right.png);
  }
  .slick-disabled {
    cursor: unset;
  }
  
  // .slick-dots li.slick-active button::before,
  // .slick-dots li button::before{
  //     color: #f7e126;
  // }

  // .speakers__list {
  //     padding: 0px 50px;
  // }

  // .speaker {
  //     display: flex;
  //     flex-wrap: wrap;
}
.speakers__list {
  & .pk__name {
    white-space: pre-wrap;
  }
}

// .speaker__item {
//     // margin-bottom: 72px;
//     // margin-right: 5px;
//     min-height: 325px;
//     // padding: 0 5px;

//     &:hover {
//         .speaker__img {
//             transform: scale(1.01);
//             transition: 0.5s;
//         }

//     }

// }

// .speaker__img {
//     height: 150px;
//     width: 150px;
//     border: 4px solid #fde300;
//     border-radius: 50%;
//     margin-bottom: 7px;
//     // margin-right: 5px;
// }

// .speaker__avatar {
//     display: block;
//     height: 100%;
//     width: 100%;
//     border-radius: 50%;
//     object-fit: cover;
// }

// .speaker__link {
//     align-items: center;
//     display: flex;
//     flex-direction: column;
// }

// .speaker__title {
//     text-align: center;
//     color: #fff;
//     font-size: 14px;
//     font-weight: 400;
// }

// .speaker__name {
//     line-height: 1.1;
//     font-size: 16px;
//     font-weight: 700;
// }

// .speaker__company {
//     color: $yellow;
//     font-weight: 700;
// }
