$contanerWidth: 1160px;


//brekpoints

$tablets: 768px;

@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
}


@import "./layout/normalize";
@import "./blocks/slick";
@import "./blocks/slick-theme";
@import "./layout/base";
@import "./blocks/fonts";
@import "./blocks/theme";
@import "./blocks/button";
@import "./blocks/header";
@import "./blocks/social";
@import "./blocks/history";
@import "./blocks/hero";
@import "./blocks/about";
@import "./blocks/report";
@import "./blocks/speakers";
@import "./blocks/format";
@import "./blocks/pk";
@import "./blocks/price";
@import "./blocks/form";
@import "./blocks/partners";
@import "./blocks/before";
@import "./blocks/contacts";
@import "./blocks/place";
@import "./blocks/footer-menu";
@import "./blocks/table";




