* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font: 400 16px/1.42 "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  // overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 1160px;
  padding: 0 20px;
}

.section {
  padding: 55px 0;
  min-width: 1160px;
}

h1 {
  font: 700 48px/1.2 "Open Sans", sans-serif;
}

h2 {
  font: 700 36px/1.2 "Open Sans", sans-serif;
}

h3 {
  font: 740 24px/1.2 "Open Sans", sans-serif;
}
